
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #181818;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 3em 1.5em;
}

#login-top{
    background-color: #4e5754;
    max-width: 500px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: .5em;
}

#user-image {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.blocks-of-icons{
    background-color: #4e5754;
}

.registry{
    background-color: gray;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2em;
}